<!-- Navbar superior (logo) -->
<nav class="navbar navbar-dark bg-primary py-3">
  <div class="container">
    <a class="navbar-brand mx-auto d-flex align-items-center" href="#">
      <img
        src="assets/iconolinknet.png"
        alt="Logo"
        width="30"
        height="30"
        class="d-inline-block align-text-top me-2"
      />
      Link-Net
    </a>
  </div>
</nav>

<!-- Navbar inferior (menú) que se pega al scroll -->
<nav
  class="navbar navbar-expand-lg navbar-dark bg-purple py-2"
  [class.sticky]="isSticky"
>
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Planes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Formas de pago</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Soluciones Empresas y parcelas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contáctanos</a>
        </li>

        <a class="btn btn-danger ms-lg-3" href="#">PAGO EN LÍNEA</a>
      </ul>
    </div>
  </div>
</nav>
