<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
    <div class="container">
        <!-- Logo y texto centrado -->
        <a class="navbar-brand mx-auto d-flex align-items-center" href="#">
            <img src="imagenes/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
            Link-Net
        </a>
        
        <!-- Botón para dispositivos móviles -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menú desplegable -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mx-auto d-flex justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-8xl" href="#">Home</a> <!-- Cambia text-lg a text-xl o text-2xl según sea necesario -->
                </li>
                <li class="nav-item">
                    <a class="nav-link text-lg" href="#plans">Planes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-lg" href="#about">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-lg" href="#contact">Contacto</a>
                </li>
            </ul>
        </div>
        
    </div>
</nav>
