<section id="about" class="py-5 bg-dark-blue text-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <h2 class="display-4 mb-4">Sobre Nosotros</h2>
                <p class="lead mb-4">En Linknetspa, brindamos servicios de conectividad con la más alta calidad para empresas que necesitan soluciones rápidas y confiables.</p>
               
            </div>
            <div class="col-lg-6 mb-4">
                <h3 class="display-5 mb-4">Contáctanos</h3>
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Ingresa tu nombre:</label>
                        <input type="text" class="form-control" id="name" placeholder="Tu nombre">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Ingresa tu email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Tu email">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Ingresa tu teléfono:</label>
                        <input type="tel" class="form-control" id="phone" placeholder="Tu teléfono">
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Escribe un mensaje:</label>
                        <textarea class="form-control" id="message" rows="4" placeholder="Tu mensaje"></textarea>
                    </div>
                    <button type="submit" class="btn btn-light btn-lg">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>